.textScroll{
  animation-duration: 10s;
  animation-name: crawl;
  color: #c0bb00;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  left: 25%;
  letter-spacing: .2rem;
  position: absolute;
  text-align: justify;
  width: 50%;

}


@keyframes crawl {
    0%   {top: 100%; transform: rotateX(20deg)  translateZ(0);}
    100% {top: 0%; transform: rotateX(25deg) translateZ(-2500px);}
}
