button {
  background: #8b7514;
  border: solid;
  border-style: outset;
  color: #150b0e;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  letter-spacing: 3px;
  outline: none;
  width: 10rem;
}

button.active {
  color: #dddbe6;
}

button.enter-button {
  background: #00a2d4;
  border-radius: 0%;
  color: white;
  font-size: 30px;
  letter-spacing: 0.1em;
  margin: auto;
  width: 100%;
}

.enter-button:hover {
  background: orangered;
  color: black;
}