button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  outline: none;
  margin: auto 6rem;
  width: 10rem;
}

button.active {
  background: black;
  color: white;
}

button.enter-button {
  background: #00A2D4;
  color: white;
  font-size: 30px;
  letter-spacing: 0.1em;
  margin: auto;
  width: 100%;
}

.enter-button:hover {
  background: orangered;
  color: black;
}