article {
  background: #787878;
  border-radius: 3%;
  box-shadow: 1px 1px 0px 1px #ffffff9b;
  color: #403639;
  margin: 0.5rem;
  height: fit-content;
  width: 15%;
}

h6 {
  font-size: 20px;
  margin: auto .5rem;
  text-align: left;
}

img {
  margin: .1rem;
  width: 15%;
}

img.active {
  background-image: url('../../../assets/logo-red.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-item {
  background: white;
  border: solid darkgray;
  border-style: ridge;
  padding: 3px;
  margin: 3px;
}

.card-item-key {
  text-decoration: underline;
}

.card-item-value {
  color: black;
  font-family: monospace;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.5em;
}
