article {
  border: solid;
  margin: 0.5rem;
}

h6 {
  font-size: 16px;
  margin: 1rem .5rem;
}

img {
  margin: .1rem;
  width: 15%;
}

img.active {
  background: red;
  border-radius: 50%;
}

img.not-active {
  border-radius: 50%;
}

