.textScroll{
  animation-duration: 30s;
  animation-name: crawl;
  position: absolute;
  text-align: center;
  width: 30%;
}

@keyframes crawl {
    0%   { bottom:0%; transform:perspective(0px) rotateX(0deg)}
    100% {bottom:80%; transform:perspective(0px) rotateX(0deg)}
}

