section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 75%;
  height: 400px;
  overflow-y: scroll;
}

.no-cards {
  display: block;
}

.cards-to-display {
  display: none;
}

