section {
  border: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  width: 75%;
  height: 500px;
  overflow-y: scroll;
}

.card-container {
  border: none;
  border-style: inset;
}

h1 {
  font-size: 50px;
}

.no-cards {
  background: black;
  color: #feda4a;
  display: block;
  font-size: 400%;
  height: 75px;
  letter-spacing: 0.1em;
  margin-top: 10rem;
}

.cards-to-display {
  display: none;
}

