main {
  padding-top: 5px;
  text-align: center;
}

.background {
  background: url('../assets/hyper-space.png') 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pathway Gothic One', sans-serif;
  height: 850px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 12%;
  padding-top: 6rem;
}

.loading-gif {
  background-image: url("https://media.giphy.com/media/5tRGwBkWx8Vt6/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 500px;
  margin: 0 auto;
  width: 75%;
}