aside {
  background-color: black;
  color: white;
  height: 850px;
  opacity: .9;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
}

main {
  text-align: center;
}

.background {
  background: url('../assets/background-sw.png');
  background-size: cover;
  font-family: 'Pathway Gothic One', sans-serif;
  height: 850px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15rem;
}

.loading-gif {
  width: 85%;
}