aside {
  background-color: black;
  color: white;
  height: 100vh;
  opacity: .9;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.background {
  background: url('../assets/background-sw.png');
  background-size: cover;
  height: 850px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15rem;
}